@use "../../../common/common.scss";

.hero {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  max-width: 2000px;
  max-height: 1100px;
  overflow: hidden;
  background-color: common.$base-color;
  opacity: 0.9;
  background-image: radial-gradient(
    common.$base-blue 3px,
    common.$base-color 3px
  );
  background-size: 40px 40px;

  &__content {
    position: absolute;
    left: 150px;
    top: 220px;
    font-size: 1.2rem;
    color: common.$base-gray;
    color: #fff;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 2px;

      strong {
        color: common.$medium-blue;
        color: common.$base-blue;
        color: rgba(common.$medium-blue, 0.9);
      }
    }

    h2 {
      font-size: 2.5rem;
    }

    button {
      display: block;
      cursor: pointer;
      outline: none;
      padding: 0.75rem 1.25rem;
      border-radius: 10px;
      margin-top: 2rem;
      font-size: 1rem;
      background: common.$medium-blue;
      color: #000;
      border: 1px solid transparent;
      transition: 0.3s ease all;

      &:hover {
        border-color: common.$base-color;
        background: common.$base-color;
        background-color: #fff;
        color: common.$medium-blue;
      }

      &:active {
        border-color: common.$medium-blue;
        background: linear-gradient(
          rgba(common.$medium-blue, 0.2),
          rgba(common.$medium-blue, 0.3)
        );
        color: common.$medium-blue;
      }
    }
  }
}

@media (max-width: 1400px) {
  .hero {
    height: 70vh;

    &__content {
      left: 100px;
      top: 150px;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 920px) {
  .hero {
    height: 45vh;

    &__content {
      top: 80px;
      left: 60px;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      span {
        font-size: 1rem;
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .hero {
    height: 50vh;
    min-width: 0;
    display: flex;

    &__video {
      display: none;
    }

    &__content {
      min-width: 0;
      margin: auto;
      position: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 1rem;

      h2 {
        font-size: 1.5rem;
      }

      button {
        padding: 0.5rem 1rem;
      }
    }
  }
}
