@use "../../../common/common.scss";

.wrapper {
  padding: 0;
  width: 100vw;
  max-width: 2000px;
  height: calc(100vh - 76px);
  position: relative;
  display: flex;
  align-items: center;
}

.register {
  border-radius: 10px;
  display: flex;
  width: 67rem;
  height: 36rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  &__form {
    background-color: common.$base-color;
    color: common.$light-blue;
    width: 65%;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    h2 {
      margin-top: 1.2rem;
      text-align: center;
      font-weight: 700;
    }

    .form-group {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;

      .form-label {
        font-size: 0.95rem;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 35%;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &__btn {
    margin-top: 0.8rem;
  }
}

@media (max-width: 992px) {
  .register {
    max-width: 50rem;
    height: 40rem;

    &__form {
      width: 50%;
    }

    &__img {
      width: 50%;
    }
  }
}

@media (max-width: 800px) {
  .register__img {
    display: none;
  }

  .register__form {
    width: 100%;
    height: 37rem;
  }
}

@media (max-width: 420px) {
  .register__form {
    margin-top: 3rem;
  }
}
