@use "../../../common/common.scss";

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 76px);
  color: common.$light-blue;

  &__content {
    height: auto;
    max-height: 36rem;
    width: 60rem;
    display: flex;
    background-color: common.$base-color;
    border-radius: 10px;
    margin: auto 3rem;
  }

  &__image {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    width: 55%;
    padding: 2rem;

    h2 {
      text-align: center;
    }

    form {
      .form-group {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        .form-label {
          font-size: 0.95rem;
        }
      }

      button {
        margin-top: 0.8rem;
      }
    }
  }
}

@media (max-width: 835px) {
  .register {
    &__image {
      display: none;
    }

    &__info {
      width: 100%;
    }
  }
}

@media (max-width: 835px) {
  .register {
    height: 100vh;
    padding: 1.5rem;

    &__content {
      max-height: 60rem;
      margin: auto 1.2rem;
    }
  }
}
