@use "../../../common/common.scss";

.password {
  color: #fff;
  margin-top: 3rem;

  h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  form {
    margin: auto;
    max-width: 70rem;
    padding: 3rem 0;
    padding-top: 1.5rem;
    border-radius: 5px;
    background: common.$transparent-blue;
    border: 1px solid common.$line-blue;
    box-sizing: border-box;
  }

  &__col {
    height: 5rem;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;

    button {
      min-width: 10rem;
      cursor: pointer;
      outline: none;
      padding: 0.75rem 1.25rem;
      border-radius: 5px;
      font-size: 1rem;
      font-family: inherit;
      background: common.$light-blue;
      color: #000;
      border: 1px solid transparent;
      transition: 0.3s ease all;

      &:hover {
        border-color: common.$light-blue;
        background: rgba(common.$light-blue, 0.1);
        color: common.$light-blue;
      }

      &:active {
        border-color: common.$light-blue;
        background: linear-gradient(
          rgba(common.$light-blue, 0.2),
          rgba(common.$light-blue, 0.3)
        );
        color: common.$light-blue;
      }
    }
  }

  &__result {
    button {
      border-radius: 5px;
      padding: 0.6rem 5rem;
      background-color: common.$line-blue;
      border: 1px solid transparent;
      cursor: pointer;
      transition: 0.3s ease all;
      text-align: center;
      color: #fff;
      font-size: 1.1rem;

      &:hover {
        border-color: common.$light-blue;
        background: rgba(common.$light-blue, 0.1);
        color: common.$light-blue;
      }
    }
  }
}
