@use "../../../common/common.scss";

.passwords {
  margin: 3rem auto;
  color: #fff;

  h1 {
    text-align: center;
  }

  .card {
    background: common.$transparent-blue;
    border: 1px solid common.$line-blue;
    color: common.$base-gray;
    min-height: 18rem;
    padding: 2rem;

    strong,
    i {
      color: common.$white-blue;
    }

    &__header {
      border: none;
      font-size: 1.1rem;

      i {
        margin-right: 0.5rem;
      }
    }
  }
}
